html
    head
        title= title
        link(rel="stylesheet", href="/css/HomePage.css")
    body
        h1.card-title BlackJackie
        form(method="post", action="/HomePage")
            button(type="submit") Start
