html
    head
        title= title
        link(rel="stylesheet", href="/css/Mobile_Result.css")
    body
        .result-container
            h2 Mobile Result Page
            h3 Hi, #{studentUsername}! Thanks for Playing BlackJackie! You may leave to join another game.
